$border-radius: 0.25rem;
$dark-theme: false;
$primary: #294651;
$secondary: #b0d04c;
$info: #42c5be;
$success: #198754;
$warning: #ffc107;
$error: #dc3545;
$body-text: #212529;
$body-bg: #ffffff;
$headings-text: #212529;
$subtle-text: #6c757d;
$disabled-text: #8f8f8f;
$component-text: #212529;
$component-bg: #ffffff;
$base-text: #212529;
$base-bg: #f8f9fa;
$hovered-text: #16181b;
$hovered-bg: #e9ecef;
$selected-text: #ffffff;
$selected-bg: #294651;
$button-text: #212529;
$button-bg: #e4e7eb;
$link-text: #212529;
$link-hover-text: #212529;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

@import '~@progress/kendo-theme-bootstrap/dist/all.scss';

.k-form-error {
  font-size: 0.875em;
}

.k-state-disabled {
  opacity: 1;
  filter: unset;

  .k-multiselect-wrap {
    background-color: #e9ecef;
    border: 1px solid #ced4da !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);

    .k-button {
      background-color: #ced4da;
      .k-select {
        display: none;
      }
    }
  }
}
