@import './theme/custom.scss';

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.text-error {
  color: $danger;
  font-size: 0.8em;
}

.react-confirm-alert-overlay {
  z-index: 9999;
}
