@import './theme/kendo-custom.scss';
@import './theme/bootstrap-custom.scss';

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212529;
}

.text-error {
  color: $danger;
  font-size: 0.8em;
}

.react-confirm-alert-overlay {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
}

.z-index-in-modal {
  z-index: 201;
}

.column-actions {
  white-space: nowrap;
}

.k-popup {
  .k-list-filter {
    display: flex;
    align-items: center;

    .k-textbox {
      width: 100%;
    }
  }
}
